<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <meta http-equiv="Content-Language" content="pt-br">
        <meta http-equiv="content-type" content="text/html, charset=iso-8859-1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="format-detection" content="telephone=no">
        <meta http-equiv="X-UA-Compatible" content="IE=9, IE=8, IE=7, IE=EDGE">

    </head>
    <body>
        <table border="1" width="600" align="center">

            <tr>
                <td colspan="3">
                    INSCRIÇÃO RECEBIDA COM SUCESSO
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    
                </td>
            </tr>
            <tr align="center">
                <td width="33%">
                    <h5>Etapa 1</h5>
                    <img width="30" alt="circle" src="../../public/img/iconCheckMark.svg"><br/>
                    <h5>Inscrição Recebida</h5>
                </td>
                <td width="33%">
                    Etapa 2 <br/>
                    <img width="30" alt="circle" src="../../public/img/iconCircle.svg"><br/>
                   Confirmação de pagamento
                </td>
                <td width="33%" > 
                    <h5>Etapa 3</h5>
                    
                    <h5>Inscrição Concluida</h5>
                </td>
            </tr>

        </table>
    </body>
</html>
